body {  
  margin: initial;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
}

.contents {
  display: flex;
  margin: 0px auto;
  align-items: center;
  /*background-color: lightcoral;  
  border: 1px solid black;*/
}

.contents-column {
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  width: 99%;
}

.contents-row {
  /*background-color: lightgreen;*/
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  width: 97%;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  /*background-color: DodgerBlue;
  border: 1px solid black;*/
  /*margin: 3px;*/
}

.flex-container-gallery {
  width: 97%;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.flex-container-linkedIn {
  flex-direction: column;
  flex: 1 0 auto;
  /* As container has only one itme per line, so no need to justify or align*/
  /*align-items: center;*/
  /*justify-content: center;*/
}

 .an-item {
  border: 1px solid #eee;
  background-color: #fafafa;
  border-radius: 4px;
  box-sizing: border-box;
  margin: 0% 1% 1% 0%;
}

.flex-container-linkedIn > .list-item {
    margin: 11px;
  /*border: 1px solid yellow;  */
  text-align: center;
  /* line-height: 75px;
  font-size: 30px;
  width: 97%;*/
}

.flex-container > .gallery-item { 

  text-align: center;
  /*line-height: 75px;
  font-size: 30px;*/
  min-height: 100px;
}

.flex-container > .max-items-3 {
  /* 1% margin for each side of item means ,
   6% for the all three items in a row, So 93%+ 6% is total 99%*/
  /*width: 221px;;*/
  width: 31%; /*for three item per line */ 
}

.flex-container > .max-items-4 {
  width: 23%; /*for three item per line */
}
.flex-container > .max-items-5 {
  width: 18%; /*for three item per line */
}
 

.flex-container > .max-items-x {
  width: 98%; 
  /*max-width: 540px;
  max-height: 313px;*/
}

@media screen and (min-width: 576px) {
  .flex-container > .max-items-x {
    max-width: 48%;
  }
}

@media screen and (min-width : 768px) {
  .flex-container > .max-items-x {
    max-width: 31%;
  }
}

@media screen and (min-width : 992px) {
  .flex-container > .max-items-x {
    max-width: 23%;
  }
}

@media screen and (min-width: 1200px) {
  .flex-container > .max-items-x {
    max-width: 18%;
  }
}

@media screen and (min-width: 1600px) {
  .flex-container > .max-items-x {
    max-width: 14.5%;
  }
}
/* Setting height of card-image set the max heigh for flex-item
  So images are not very big in vertical direction.
*/
.card-header {
  /*background-color: lightseagreen;*/
  text-align: initial;
  margin-left: 7%;
}

.card-image {
  width: 100%;
  height: 250px;
}

.full-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
